/* CSS placed here will be applied to all skins */

#p-ageclassification .portlet {
	margin: 0;
	width: auto;
}
#p-ageclassification .body,
#p-ageclassification .mw-portlet-body,
#p-ageclassification .pBody {
	background-color: transparent !important;
	background-image: none !important;
	border: 0 !important;
	padding: 0;
	text-align: center;
}
#p-ageclassification img {
	height: auto;
	width: 100%;
}
